node_modules/
*.tsbuildinfo
/dist/
/dist-worker/
.wrangler/

.DS_Store
*.local
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

.env
.env.*
!.env.example

.vscode/*
!.vscode/extensions.json
.idea/

coverage/

.mottainai
